<!-- <app-screen-share></app-screen-share> -->
<button (click)="createConnection()">Create connection</button>
<form (submit)="setOffer(offer.value, $event)">
  Set Offer
  <textarea #offer></textarea>
  <button type="submit">submit</button>
</form>
<form (submit)="setAnswer(answer.value, $event)">
  Set Answer
  <textarea #answer></textarea>
  <button type="submit">submit</button>
</form>
<div>
  <button (click)="turnOnCamera()">Turn On Camera</button>
  <button (click)="turnOfCamera()">Turn Off Camera</button>
  <button (click)="addStreamToConnection()">Add camera</button>
  <button (click)="removeStreamFromConnection()">Remove camera</button>
  <button (click)="desktopCapturing()">Add desktop stream</button>
</div>
<div>{{ outgoing }}</div>


<div style="width: 100%; display: flex;">
<!--  <div *ngIf="stream">-->
<!--    My video video-->
<!--    <video [srcObject]="stream" autoplay></video>-->
<!--  </div>-->
  <div *ngFor="let peer of peers">
    Remote video
    <video *ngIf="peer.remoteStream" [srcObject]="peer.remoteStream" autoplay></video>
  </div>
  <div>
    Desktop
    <div *ngFor="let source of sources" style="display: flex">
      <img [src]="source.thumbnail.toDataURL()" (click)="selectSource(source.id)">
    </div>
    <video [srcObject]="desktopStream" autoplay hidden></video>
  </div>
</div>
